<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marathon Submissions</title>
    <script src="/js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/sem/semantic.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/sem/semantic.min.css">
    <link class="dark-theme-css" rel="stylesheet" href="/sem/semantic.cyborg.min.css" disabled>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/image/favicon.png"/>

    {{> sidebar/js}}

  </head>
  <body class="pushable">
    {{> sidebar/html}}
    <div class="pusher">
      <header>
        {{> header}}
      </header>

      <div class="ui container">
        <div class="ui hidden divider"></div>
        <div class="ui container">
          <div class="ui top attached clearing segment header">
            <div class="ui center aligned medium header">What is Super Marathon Maker?</div>
          </div>
          <div class="ui attached segment">
            <div class="ui small header">Super Marathon Maker</div>
            <p>is an in-development application that will, once finished, assist people with various tasks revolving around speedrun marathons.</p>
            <div class="ui hidden header"></div>
            <p>At the time of writing, it provides a nice interface for the admins to easily handle all the submissions.</p>
            <p>This includes, but is not limited to, accepting or rejecting runs, editing runs (to adjust the comment text, for example) and exporting them to CSV for easy import into Google Sheets / Excel as well as exporting accepted runs into an easily importable file for Horaro.</p>
          </div>
          <div class="ui top attached clearing segment header">
            <div class="ui center aligned medium header">This application is brought to you by</div>
          </div>
          <div class="ui attached segment">
            <div class="ui grid">
              <div class="three wide middle aligned column">
                <img class="ui small circular image" src="/image/lordmau5.gif">
              </div>
              <div class="seven wide middle aligned column">
                <div class="ui medium header">
                  Lordmau5
                  <div class="sub header"><em>
                    Main author.<br>
                    Had the general "Why not build a website that makes organizing speedrun marathons easier?" thought.<br>
                    Responsible for all the good <span style="font-size:0.8em">(and bad <span style="font-size:0.7em">(especially bad)</span>)</span> design stuff you see.<br>
                    I've heard from myself that I'm nice to talk with.
                  </em></div>
                </div>
              </div>
              <div class="six wide center aligned middle aligned column">
                <a class="ui twitter circular icon massive button" href="https://twitter.com/Lordmau5" target="_blank"><i class="icon twitter"></i></a>
                <a class="ui purple circular icon massive button" href="https://twitch.tv/Lordmau5" target="_blank"><i class="icon twitch"></i></a>
                <a class="ui youtube circular icon massive button" href="https://youtube.com/Lordmau5" target="_blank"><i class="icon youtube"></i></a>
                <div class="ui blue circular icon massive button" data-tooltip="Lordmau5#7184"><i class="icon icon-discord"></i></div>
              </div>
            </div>
          </div>
          <div class="ui attached segment">
            <div class="ui grid">
              <div class="three wide middle aligned column">
                <img class="ui small circular image" src="/image/freezylemon.gif">
              </div>
              <div class="seven wide left floated middle aligned column">
                <div class="ui medium header">
                  FreezyLemon
                  <div class="sub header"><em>
                    Main bi-- um <ins>assistant</ins>.<br>
                    Was more on the coding side of things and less on the "contribute in any meaningful way to this idea"-side.<br>
                    Worked mostly on the back-end to make stuff happen.<br>
                    Does not usually have a profile picture, so take a GIF of a funny character instead.
                  </em></div>
                </div>
              </div>
              <div class="six wide center aligned middle aligned column">
                <a class="ui twitter circular icon massive button" href="https://twitter.com/FreezyLemon" target="_blank"><i class="icon twitter"></i></a>
                <a class="ui purple circular icon massive button" href="https://twitch.tv/FreezyLemon" target="_blank"><i class="icon twitch"></i></a>
                <a class="ui youtube circular icon massive button" href="https://youtube.com/FreezyLemon" target="_blank"><i class="icon youtube"></i></a>
                <div class="ui blue circular icon massive button" data-tooltip="FreezyLemon#2073"><i class="icon icon-discord"></i></div>
              </div>
            </div>
          </div>
          <div class="ui attached segment">
            <div class="ui grid">
              <div class="three wide middle aligned column">
                <img class="ui small circular image" src="/image/jugachi.gif">
              </div>
              <div class="seven wide left floated middle aligned column">
                <div class="ui medium header">
                  Jugachi
                  <div class="sub header"><em>
                    Brings in a couple of really good ideas.<br>
                    Mainly PR guy.<br>
                    Loves multi-track drifting with trains.
                  </em></div>
                </div>
              </div>
              <div class="six wide center aligned middle aligned column">
                <a class="ui twitter circular icon massive button" href="https://twitter.com/JugachiHD" target="_blank"><i class="icon twitter"></i></a>
                <a class="ui purple circular icon massive button" href="https://twitch.tv/Jugachi" target="_blank"><i class="icon twitch"></i></a>
                <a class="ui youtube circular icon massive button" href="https://youtube.com/Jugachi" target="_blank"><i class="icon youtube"></i></a>
                <div class="ui blue circular icon massive button" data-tooltip="Jugachi#2630"><i class="icon icon-discord"></i></div>
              </div>
            </div>
          </div>
          <div class="ui hidden divider"></div>
        </div>
      </div>
    </div>
  </body>
</html>
