<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marathon Submissions</title>
    <script src="/js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/sem/semantic.min.js" charset="utf-8"></script>
    <script src="/js/jquery.datepair.min.js" charset="utf-8"></script>
    <script src="/js/pikaday.js" charset="utf-8"></script>
    <script src="/js/pikaday.jquery.js" charset="utf-8"></script>
    <script src="/js/jquery.timepicker.min.js" charset="utf-8"></script>
    <script src="/js/moment.js" charset="utf-8"></script>
    <script src="/js/moment-timezone.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/sem/semantic.min.css">
    <link class="dark-theme-css" rel="stylesheet" href="/sem/semantic.cyborg.min.css" disabled>
    <link class="light-theme-fix-css" rel="stylesheet" href="/css/light-theme-fix.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/pikaday.css">
    <link rel="shortcut icon" type="image/png" href="/image/favicon.png"/>

    {{> sidebar/js}}
  </head>
  <body class="pushable">
    {{> sidebar/html}}
    <div class="pusher">
      <header>
        {{> header}}
      </header>

      <div class="ui fluid container">
        <div class="ui styled fluid accordion submissions">
        </div>
      </div>

      <div class="ui basic modal edit-submission-modal">
        <div class="ui icon header">
          <i class="icon wrench"></i>
          Edit Submission
        </div>
        <div class="scrolling content">
          <div class="ui form">
            {{#with editable}}
            <h4 class="ui dividing header">Game Information</h4>
            <div class="three fields">
              <div class="required {{#unless game}}disabled {{/unless}}field ui search game-search">
                <label>Game</label>
                <div class="ui icon input">
                  <input class="prompt" type="text" name="game" placeholder="Game name..." invalidname="game" maxlength="100">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
              <div class="required {{#unless platform}}disabled {{/unless}}field">
                <label>Platform</label>
                <input type="text" name="platform" placeholder="PC, N64, ..." invalidname="platform" maxlength="32">
              </div>
              <div class="required {{#unless region}}disabled {{/unless}}field">
                <label>Region</label>
                <input type="text" name="region" placeholder="NTSC, PAL, ..." invalidname="region" maxlength="32">
              </div>
            </div>
            <div class="three fields">
              <div class="required {{#unless category}}disabled {{/unless}}field">
                <label>Category</label>
                <input type="text" name="category" placeholder="Any%, 100%..." invalidname="category" maxlength="32">
              </div>
              <div class="required {{#unless estimate}}disabled {{/unless}}field">
                <label>Estimate</label>
                <input type="text" name="estimate" placeholder="00:30:00" invalidname="estimate">
              </div>
              <div class="required {{#unless video}}disabled {{/unless}}field">
                <label>Video</label>
                <input type="text" name="video" placeholder="http(s)://" invalidname="video">
              </div>
            </div>
            <div class="two fields">
              <div class="required {{#unless game}}disabled {{/unless}}field popup" data-title="Not correct?" data-content="You can set it manually!">
                <label>Leaderboards</label>
                <input type="text" name="leaderboards" placeholder="http(s)://" invalidname="leaderboards" maxlength="200">
              </div>
              <div class="required {{#unless game}}disabled {{/unless}}field popup" data-title="Not correct?" data-content="You can set it manually!">
                <label>Twitch Game Name</label>
                <input type="text" name="twitch-name" invalidname="twitch-name" maxlength="200">
              </div>
            </div>
            <h4 class="ui dividing header">Availability</h4>
            <div class="{{#unless availability}}disabled {{/unless}}field">
              <textarea class="availability-textarea" maxlength="750" rows="6" placeholder="Please tell us your estimate as to when you're available during the event..."></textarea>
              <label class="chars-used">0/750</label>
            </div>
            <h4 class="ui dividing header">Donation Incentives / Bid Wars (Optional)</h4>
            <div class="{{#unless incentives}}disabled {{/unless}}field">
              <textarea class="incentives-textarea" maxlength="750" rows="6" placeholder="Donation incentives should not add much more than five minutes to your run/showcase."></textarea>
              <label class="chars-used">0/750</label>
            </div>
            <h4 class="ui dividing header">Comments (Optional)</h4>
            <div class="{{#unless comments}}disabled {{/unless}}field">
              <textarea class="comments-textarea" maxlength="750" rows="6" placeholder="Write additional information about your submission here..."></textarea>
              <label class="chars-used">0/750</label>
            </div>
            <div class="ui error message">
              <div class="header">An error has occured!</div>
              <p><span class="error-message"></span></p>
            </div>
            {{/with}}
          </div>
        </div>
        <div class="actions">
          <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Cancel
          </div>
          <div class="ui blue ok inverted button">
            <i class="wrench icon"></i>
            Update
          </div>
        </div>
      </div>

      <div class="ui basic modal remove-submission-modal">
        <div class="ui icon header">
          <i class="icon trash can"></i>
          Remove Submission
        </div>
        <div class="content">
          <h3>You are about to remove the following submission:</h3>
          <p>Game: <code class="game"></code></p>
          <p>Category: <code class="category"></code></p>
          <p>Estimate: <code class="estimate"></code></p>
          <h3>Are you sure you want to remove it?</h3>
        </div>
        <div class="actions">
          <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Cancel
          </div>
          <div class="ui red ok inverted button">
            <i class="trash can icon"></i>
            Remove
          </div>
        </div>
      </div>
    </div>
    {{> load-decode-content }}
    {{> load-csrf }}
    {{> decode-content var-name="data" data=submission_data }}
    {{> decode-content var-name="eventData" data=eventData }}
    {{> load-javascript src="user/submissions" }}
  </body>

  {{> submission/main view="private"}}
</html>
