<div class="ui two column grid">
  <div class="ui eight wide column">
    <div class="ui {{#if game}}checked {{/if}}toggle checkbox">
      <input name="game" type="checkbox" />
      <label>Game Name</label>
    </div>
    <div class="ui divider"></div>
    <div class="ui {{#if platform}}checked {{/if}}toggle checkbox">
      <input name="platform" type="checkbox" />
      <label>Platform</label>
    </div>
    <div class="ui divider"></div>
    <div class="ui {{#if region}}checked {{/if}}toggle checkbox">
      <input name="region" type="checkbox" />
      <label>Region</label>
    </div>
    <div class="ui divider"></div>
    <div class="ui {{#if category}}checked {{/if}}toggle checkbox">
      <input name="category" type="checkbox" />
      <label>Bingo Category</label>
    </div>
  </div>
  <div class="ui eight wide column">
    <div class="ui {{#if estimate}}checked {{/if}}toggle checkbox">
      <input name="estimate" type="checkbox" />
      <label>Estimate</label>
    </div>
    <div class="ui divider"></div>
    <div class="ui {{#if video}}checked {{/if}}toggle checkbox">
      <input name="video" type="checkbox" />
      <label>Video URL</label>
    </div>
    <div class="ui divider"></div>
    <div class="ui {{#if availability}}checked {{/if}}toggle checkbox">
      <input name="availability" type="checkbox" />
      <label>Availability</label>
    </div>
    <div class="ui divider"></div>
    <div class="ui {{#if incentives}}checked {{/if}}toggle checkbox">
      <input name="incentives" type="checkbox" />
      <label>Donation Incentives</label>
    </div>
  </div>
  <div class="ui eight wide column">
    <div class="ui {{#if comments}}checked {{/if}}toggle checkbox">
      <input name="comments" type="checkbox" />
      <label>Submission Comment</label>
    </div>
  </div>
</div>